{{> header}}

<h2> This is our projects page </h2>
<hr>
<ul> 
    <h5> Upcoming projects</h5>
    <li> Project "Hermes"</li>
    <li> Project "Aphrodite"</li>
    <li> Project "Jupiter"</li>
</ul>

{{> footer}}
